.product-card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
    padding: 1rem;
    background-color: #fff;
    height: 190px;
    width: 75%;
    margin: 5%;
}

.cards {
    display: inline-grid;
    grid-template-rows: 150px 150px 150px 150px;
    justify-content: space-around;
    margin-left: 5%;
}

.loading {
    display: block;
    margin: 30% auto;
    width: 50%;
}

.product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 76px;
    margin-top: 15px
}

.product-name {
    text-align: center;
    color: black;
}

a:link {
    text-decoration: none;
}

.product-price {
    text-align: end;
    color: black;
}

@media screen and (max-width:923px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
    .product-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
        padding: 1rem;
        background-color: #fff;
        height: 190px;
        width: 68%;
        margin: 5%;
    }
    .product-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 76px;
        margin-top: 15px;
    }
    .cards {
        display: inline-grid;
        grid-template-rows: 150px 150px;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 3% 3% 3% 7%;
    }
}

@media screen and (max-width:736px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
    .product-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
        padding: 1rem;
        background-color: #fff;
        height: 190px;
        width: 68%;
        margin: 5%;
    }
    .product-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 76px;
        margin-top: 15px;
    }
    .cards {
        display: inline-grid;
        grid-template-rows: 150px 150px;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 3% 3% 3% 7%;
    }
}

@media screen and (max-width:600px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
    .product-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
        padding: 1rem;
        background-color: #fff;
        height: 156px;
        width: 68%;
        margin: 5%;
    }
    .product-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 76px;
        margin-top: 15px;
    }
    .cards {
        display: inline-grid;
        grid-template-rows: 150px 150px;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 3% 3% 3% 7%;
    }
}

@media screen and (max-width:485px) {
    .left,
    .main,
    .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
    .product-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.25rem;
        box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
        padding: 1rem;
        background-color: #fff;
        height: 180px;
        width: 73%;
        margin: 5%;
    }
    .product-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 76px;
        margin-top: 15px;
    }
    .cards {
        display: inline-grid;
        grid-template-rows: 150px 150px;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 3% 3% 3% 7%;
    }
}

h1 {
    text-align: center;
}