.product-card-back2 {
    box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
    padding: 1.5rem;
    width: 75%;
    margin: 5%;
}

 .product-img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

 .product-name2 {
    text-align: center;
}

 .product-price2 {
    text-align: end;
}
