.item-cart {
  display: flex;
  width: 100%;
}
.link {
  margin-right: 15%;
}
.title-cart {
  margin-left: 4%;
  margin-top: 4%;
}
.order-now {
  width: 140px;
  height: 40px;
  stroke: Solid #ffffff;
  margin-top: 5%;
  background: #50bb00;
  box-sizing: border-box;
  border-radius: 5px;
}
.add-item {
  width: 140px;
  height: 40px;
  stroke: Solid #ffffff;
  margin-top: 5%;
  background: #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}
.div {
  text-align: center;
}
.deleteItem {
  width: 10%;
  padding: 2%;
  height: 50%;
  margin-top: 30%;
}
