.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 42px;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 1px -10px 16px 7px;
}

.cart-section {
  margin-right: 0%;
}

.logo-section {
  display: flex;
  flex-direction: row;
}

.cart,
.menu,.clickedMenu {
  width: 23px;
  height: 21px;
  margin: 10px 6px;
}

.menu {
  margin-right: 27px;
}

.logo {
  width: 98px;
  height: 41px;
  margin: 3px -28px 0px 31px;
}

.shop {
  margin-top: 15px;
  margin-left: 35%;
}

@media screen and (max-width: 1200px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
    padding-top: 1%;
    height: 42px;
    box-shadow: 1px -10px 16px 7px;
  }
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
    padding-top: 1%;
    height: 42px;
    box-shadow: 1px -10px 16px 7px;
  }
}

@media screen and (max-width: 500px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin: auto;
    padding-top: 1%;
    height: 42px;
    box-shadow: 1px -10px 16px 7px;
  }
}
.hiddenMenu {
  visibility: hidden;
}
.showMenu {
  visibility: visible;
  background: #82c13d;
  color: #000000;
  position: absolute;
  width: 150px;
  height: 26%;
  font-size: 16px;
  top: 50px;
  right: 0px;
  text-align: center;
  opacity: 0.9;
}
.showMenu h2 {
  color: white;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.clickedMenu {
  margin-right: 27px;

  opacity: 0.3;
}
