.superMarket {
  width: 375px;
  height: 211px;
  left: 0px;
  top: 100px;
}
.aboutUs {
  text-align: center;
}
.description {
  padding: 17px;
}
@media screen and (max-width: 800px){
  .pageAboutUs,.superMarket
 { width: 100%}
}
